.page-left {
  background-color: rgb(225, 218, 198);
  display: flex;
  width: 70%;
}

.page-right {
  background-color: rgb(184, 166, 201);
  display: flex;
  width: 30%;
}

.page {
  display: flex;
  justify-content: space-around;
}
